/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/* common */
.text-white {
    color: #fff !important
    ;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

/* .row::after {
    content: "";
    display: block;
    clear: both;
} */

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 20px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

.pull-right {
    float: right !important;
}

/* main */

#main {

}

#nav {
    display: inline-block;
    margin-top: 0px;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
    
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    
    text-decoration: none;
    display: block;
    line-height: 46px;
    padding: 0 24px;
    
    
}
#nav li:hover .subnav {
    display: block;
}
#nav > li:hover > a, 
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
    
}


#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

 
#nav .subnav a {
    color: #333;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 10px;
    padding: 2px 2px
}

#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .search-btn:hover {
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 25px;
    padding-top: 50%;
    background: url('./img/slider.jpg') top center / cover no-repeat;
    
}


#slider .text-content  {
    position: absolute;
    bottom: 50px;
    color: #fff;
    width: 100%;
    /* transform: translate(-50%); */
    text-align: center;

}

#slider .text-heading  {
    font-weight: 500;
    font-size: 24px;

}
#slider .text-description {
    font-size: 15px;
    margin-top: 20px;

}


#content {
    
}

#content .content-section {
    width: 800px;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading {
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.5;
}


#content .member-list {
    margin-top: 48px;
    overflow: hidden;
    
}

#content .member-item {
    text-align: center;

}

#content .member-name {
    font-size: 15px;

}

#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;
}

/* Tour Section */
.tour-section {
    background: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
    
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 2px solid #ddd;
}
.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
    border-radius: 5px;
}


.ticket-list .quantity {
    float: right;
    width: 25px;
    height: 25px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: 1px;
    
}

.place-list {
    margin-top: 32px;
    overflow: hidden;
    padding-bottom: 50px;
}

.place-img {
    width: 100%;
    display: block;
    
}

.place-img:hover {
    opacity: 50%;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-size: 15px;
    font-weight: 600;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-description{
    margin-top: 15px;
    line-height: 1.4;
}


.contact-content {
    margin-top:75px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 15px;
}

.contact-info i[class*="ti-"] {
    width: 25px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;

}

.contact-form .form-control {
    padding: 12px;
    border: 2px solid #ccc;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.map-section img {
    width: 100%;
    padding-top: 150px;
}

#footer {
    padding: 64px 16px;
    text-align: center;

}

#footer .social-list {
    font-size: 20px;
}

#footer .social-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}


.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal.open {
    display: flex;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff
}   

.modal-heading-icon {
    margin-right: 15px;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.75;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 10px;
}

.modal-input {
    border: 2px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 25px;
}

#buy-tickets:hover {
    opacity: 0.9;
}

#buy-tickets {
    background: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}


@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}